<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>

<body class="text-center form-signin">
<form>
    <img class="mb-4" src="images/CxCLogo.jpg" alt="CxC" width="102" height="92">
    <h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" name="email"  id="email" class="form-control" placeholder="Email Address" required autofocus> <br>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
</form>

<hr>

<div>
    <h1 class="h3 mb-3 font-weight-normal">Already have a CxC Account</h1>
    <a href="/signIn">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </a>
</div>

<script type="text/javascript" src="javascripts/confirmPasswordMatch.js"></script>

</body>
</html>
