<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>

<!--<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">-->

<body>
<% include partials/nav.ejs %>

<div class="jumbotron text-center">

    <h1>Enter Delivery Address </h1>
    <form action="#">
        <div class="input-group">
            <input type="text" class="form-control" size="50" placeholder="Email Delivery Address" required>
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger"> Submit</button>
            </div>
        </div>
    </form>

    <p>SOME BACKGROUND IMAGE HERE!</p>

</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
            <h2>About Company Page</h2><br>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </div>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid bg-grey">
    <h3>Product Category 1</h3><br>
    <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
    </div>

    <h3>Product Category 2</h3><br>
    <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <img src="/images/CxCLogo.jpg" alt="product1" width="250" height="250">
                <p><strong>Product Name</strong></p>
                <p>Product Cost</p>
            </div>
        </div>
    </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Ohio, US</p>
            <p><span class="glyphicon glyphicon-phone"></span> +1 (234) 666-56789</p>
            <p><span class="glyphicon glyphicon-envelope"></span> emailId@xyz.com</p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
</body>
</html>