body {
    font: 400 15px Times New Roman, sans-serif;
    line-height: 1.8;
    background-color: #f4f4f4;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    padding: 100px 25px;
    min-height: 450px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    width: 90%;
    padding: 20px;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.highlight {
    color: #e8491d;
    font-weight: bold;
}

.navbar {
    background-color: #7a0101;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    z-index: 9999;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
}

.navbar .navbar-brand {
    font-size: 25px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: green !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* footer */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #7a0101;
    /*background-color: #35424a;*/
    text-align: center;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

/* sign In*/
.form-signin {
    border-style: solid;
    border-width: 2px;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 5% 33%;
}

.form-signin .checkbox {
    font-weight: 400;
    font-size: initial;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

hr {
    background-color: darkslategrey;
}